{% extends 'core/login_index.html' %}

{% block title %} Blog {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}


    </div>
    <div class="create-blog content">
        <h4>Document what you've learned here :</h4>
        <form action="." method="post" class="form">
            {% csrf_token %}
            <label for="title">Blog Title</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Blog snippet</label>
            <input type="text" id="snippet" name="snippet" required> 
            <label for="body">Blog body: </label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>

    <hr>

    

    {{blog.title}}
    {% if blogs %}
    {% for blog in blogs %}
        <div class="blog">
            <h3>Day</h3>
            {{ blog.day }}
            <h3>Title</h3>
            {{ blog.title }}
            <h3>Text</h3>
            {{ blog.text }}
            <!-- now to arrange and rearrange -->

    {% endfor %}
    {% endif %}
{% endblock %} 
    
    <!-- <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="submit-button">Submit</button>

    </form> -->
