{% extends 'core/login_index.html' %}

{% block title %} Blog {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
           <h4 class="messages">{{ message }}</h4>
        {% endfor %}
    {% endif %}


    <h4 class="new-blog-link"><a href="{% url 'new_blog' %}">Click here to add a new blog</a></h4>

    <hr>

    {% if contents %}

    {% for content in contents %}

        <div class="blog">
            <h3>Day</h3>
            {{ content.blog.id }}
            <h3>Title</h3>
            {{ content.blog.title }}
            <h3>Text</h3>
            {{ blog.text }}
            <a href="{% url 'edit_blog' %}" class="denotions">Edit this post</a>
            <a href="{% url 'delete_blog' %}"  class="denotions">Delete this post</a>
            
        

    {% endfor %}

    {% else %}
        <h4>Hi there, click the link above to create a new blog and start documenting your progress!</h4>
    {% endif %}
{% endblock %} 
    
