{% extends 'core/login_index.html' %}

{% block title %} Blog {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
           <h4 class="messages">{{ message }}</h4>
        {% endfor %}
    {% endif %}


    <h4 class="new-blog-link"><a href="{% url 'new_blog' %}">Click here to add a new blog</a></h4>

    <hr>

    {% if blogs %}
    {% for blog in blogs %}
        <div class="blog">
            <h3>Day</h3>
            {{ blog.day }}
            <h3>Title</h3>
            {{ blog.title }}
            <h3>Text</h3>
            {{ blog.text }}
        

    {% endfor %}

    {% else %}
        <h4>Hi there, click the link above to create a new blog and start documenting your progress!</h4>
    {% endif %}
{% endblock %} 
    
