{% extends 'core/login_index.html' %}
{% block titie %}My languages{% endblock %}

{% block content %}    
    {% if messages %}
        {% for message in messages %}
            <h3 class="messages">
                {{ message }}
            </h3>

        {% endfor %}
    {% endif %}

    

    <h2 style="margin: 10px;">My Languages</h2>

    <hr>

    <div class="my-languages">

        <div class="lang-detail"><strong>ID</strong></div>

        <div class="lang-detail"><strong>Title</strong></div>
        
        <div class="lang-detail"><strong>Category</strong></div>

    </div>

    {% if language_order %}
    {% for language_order in language_orders %}
        <div class="orders">
            {{ language_order.language.id }}
        </div>

        <div class="orders">
            {{ language_order.title }}
        </div>

        <div class="orders">
            {{ language_order.language.category }}
        </div>

    <hr>

    {% endfor %}

    {% else %}
    <hr>
    <p>You currently have no languages in your library to work on...</p>
    <p>Languages would appear abov when you add them to your list of languages!</p>
    {% endif %}
{% endblock %}