{% extends 'core/login_index.html' %}
{% block titie %}My languages{% endblock %}

{% block content %}      

    <h2 style="margin: 10px;">My Languages</h2>

    <hr>
    <h4><a href="{% url 'add-language' %}" class="basic-link">Click to add a new language</a></h4>

    <div class="orders">
       <p> Welcome to your Language library, friend!</p>
    </div>  
    {% for language in languages %}
    {% if language.image %}
    <img src="{{ language.image.url }}" alt="Image of {{ language.title }}" class="lang-image">
    
    
        <div class="orders">
            <strong>Title:</strong>
            {{ language.title }}
        </div>

        <div class="orders">
            <strong>Category:</strong>
            {{ language.category }}
        </div> 

        <div class="orders">
            <strong>user:</strong>
            {{ language.user }}
        </div> 
  

        <a href="{% url 'edit-language' language.id %}" class="basic-link">Edit language</a>
        <a href="{% url 'delete-language' language.id %}" class="basic-link">Remove Language</a>
        <hr>
    {% else %}
    
    <p>You currently have no languages in your library to work on...</p>
    <p>Languages would appear above when you add them to your list of languages!</p>
    {% endif %}
    {% endfor %}

    

{% endblock %}