{% extends 'core/login_index.html' %}

{% block title %} New blog{% endblock %}


{% block content %}
    </div>
        <div class="create-blog content">
            <h4><a href="{% url 'new_blog' %}">New Blog here </a></h4>
            <form method="post" action="." enctype="multipart/form-data" class="space-y-5">
                {% csrf_token %}
        
                {{ form.as_p }}
        
                <button class="py-2 px-4 bg-teal-500 text-white hover:bg-teal-800">Submit</button>
            </form>
    </div>
{% endblock %}