{% extends 'core/login_index.html' %}

{% block title %}{{ note.title }}{% endblock %}

{% block content %}

    {{ note.image }}
        <figure class="image" >
            <img src="{{ note.image.url }}" class="note-image">
        </figure>
                    
        <div class="columns">
            <div class="content">
                <h2 class="subtitle">{{ note.created_at|timesince }} ago</h1>
                <h1 class="note-title">{{ note.title }}</h1>
            <strong><p>{{ note.intro }}</p></strong>
            <p>{{ note.content }}</p>
            <p><a href="{% url 'delete-note' note.slug %}" class="basic-link">Delete this shit</a></p>
            <p><a href="{% url 'edit-note' note.slug %}" class="basic-link">Edit this shit</a></p>
{% endblock %}