body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3,
body {
    font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
}

h1 {
    color: wheat;
}


.welcome-note {
    max-width: 70%;
    margin: 0 auto;
    /* color: rgb(218, 185, 185); */
    color: black;
}

body {
    background: #f9fafe;
   
}

.container {
    width: 80%;
    margin-left: 10px;
}

header {
    background: #04010f;
    z-index: 999;
    text-align: center;
    padding: 50px;
}


nav ul {
    /* padding: 0; */
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: -50px;
}

nav li {
    margin: 1em;
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: pink;
}

.header-background-image{
    display: flex;
    border: 1px solid black;
    padding: 60px;
    /* padding-bottom: 60px; */
    background-image: url("/static/img/get_cape.jpg");
    background-repeat: round;
}

.content {
    margin: 0 auto;
    
}


.image {
    display: flex;
    flex-wrap: wrap;    
    flex-direction: column;
    max-width: 60%;
    width: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.language-container {
    flex-wrap: wrap;
    
}


.language {
    display: flex;
    max-width: 70%;
    gap: 20px;
    margin-right: 50px
}

.welcome-div {
    margin: 0 auto;
    padding: 20px;
    /* background: ; */
    margin-top: 50px;
}

.about-div {
    max-width: 70%;
    margin: 0 auto;
}

.logout{
    border: 2px solid black;
    padding: 5px;
    background: pink;
    text-decoration: none;
}

.cart-container {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    align-items: center;
    background-color: rgb(81, 194, 194);
}


.add-to-cart {
   display: inline-block;
   background:rgb(81, 194, 194);
   padding-left: 4px;
   padding-top: 10px;
}

.structure-control {
    max-width: 100%;
    margin: 0 auto;
    background: #f9fafe;
    
}

.category-wrapper {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
}

.category-display-size {
    width: 33.3%;
    display: flex;
}

.img-structure{
    display: flex;
    margin-bottom: 5px;
    height: 100px;
}

.search {
    margin-top: 13px;
    border-radius: 8px;
}

.language-chosen {
    width: 20px;
    height: 20px;
}

.description-field {
    margin: 0 auto;
}

.quantity-link {
    color: white;
}

 /* Need to work om writing the proper css for cart_view. */

 .cart-arrangement {
    display: flex;
    margin-bottom: 30px;
    max-width: 70%;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-top: 40px;
    background: #82c8c8;
    margin-left: 70px;
    align-items: center;
    gap: 2em;
 }

 .lang-checkout {
    display: inline-block;
    padding: 8px, 4px;
    color: white;
    background:#82c8c8;
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 70px; 
;
 }

 .messages{
    background-color: #64a15c;
    color: white;
 }


.checkout{
    padding: 8px;
    background: pink;
    color: white;
}


 .lang-head {
    padding-left: 70px;
 }
 
 .lang-title {
    margin-bottom: 10px;
 }

 .change-quantity {
    border-radius: 0.75rem;
    background-color: pink;
    padding: 7px;
    max-width: 10px;
 }

 .remove {
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
    margin-left: 50px;
    
 }

 .checkout-button, .denotions {
    padding: 8px;
    color: white;
    background: pink;
 }

 .messages {
    padding-top: 4px;
    padding-right: 6px;
    margin-top: 4px;
    background-color: #82c8c8;
    color: rgb(96, 148, 96);
 }

 .my-languages {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 100px;
    margin: 0 auto;
 }

 .my-lang {
    display: flex;
    align-items: center;

 }

 .lang-detail {
    width: 5%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
 }

 .form {
    margin-bottom: 50px;
 }
 
 .blog {
    margin-top: 10px;
 }


.control-links {
    margin-top: 15px;
}


.form-body {
    margin: 0 auto;
    color: black;
    width: 300px;
    margin-top: 20px;
}

.top-tag {
    margin-left: 550px;
}

.blog-structure {
    margin: 20px;
    padding: 5px;
    
}

.basic-link {
    border: 1px solid black;
    padding: 5px;
    background-color: pink;
    color: black;
}

.read-more{
    border: 1px solid black;
    padding: 3px;
    background-color: pink;
    color: black;
    
    
}

.lang-image {
    max-width: 20%;
    height: 20%;
    padding: 10px;
    margin-bottom: 30px;
}

.note-image {
    max-width: 50%;
    height: 50%;
    padding: 5px;
    margin-bottom: 30px;
}

.note-title {
    color: #04010f;
}

.orders {
    margin: 10px;
}

.blog-link {
    display: flex;
    gap: 10px;
    color: black;
    border: 1px solid black;
    padding: 3px;
    background-color: pink;
    margin-top: 5px;
    
 }

 .subtitle {
    color: #04010f;
 }

 .newlink {
    margin-top: 5px;
 }