body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3,
body {
    font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
}

h1 {
    color: #f9fafe;
}

body {
    background: #f9fafe;
   
}

.container {
    width: 80%;
    margin-left: 10px;
}

header {
    background: #03091c;
    z-index: 999;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}


nav ul {
    /* padding: 0; */
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: -50px;
}

nav li {
    margin: 1em;
    display: flex;
}

a {
    color: white;
}

a:hover {
    color: pink;
}


.beneath-header{
    display: flex;
    border: 1px solid black;
    padding: 60px;
    /* padding-bottom: 60px; */
    background-image: url("/static/img/get_cape.jpg");
    background-repeat: round;
}

.content {
    margin: 0 auto;
    
}



.image {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.language {
    display: flex;
    max-width: 30%;
    gap: 5px;
}

.welcome-div {
    margin: 0 auto;
    padding: 20px;
    /* background: ; */
    margin-top: 50px;
}