{% extends 'core/login_index.html' %}

{% block title %}Language Cart{% endblock %}

{% block content %}
    <h4>Language Cart</h4>
    <!-- To activate the use of cart, I had to add the context processor code line to the templates in settings
     -->
    {% if cart|length %}
    {% for item in cart %}
            <div class="cart-container">
                <div>
                    <img src="{{ item.language.get_thumbnail }}" alt="language chosen" class="language-chosen">
                </div>

                <div>
                    <h3>{{ item.language.title }}</h3>

                    <h4>{{ item.language.user }}</h4>
                </div>

                <div class="cart-quantity">
                    <a href="{% url 'change_quantity' item.language.id %}?action=increase" class="quantity-link">+</a>
                    {{ item.quantity }}
                    <a href="{% url 'change_quantity' item.language.id %}?action=decrease" class="quantity-link">-</a>
                </div>

                <a href="{% url 'remove_from_cart' item.language.id %}" class="remove_from_cart">/*this should be an svg*/</a>
            </div>
    {% endfor %}

        <hr class="break-class">
        <strong>Your language is : </strong> {{ cart.title }}
    {% else %}
            <p>There are no languages in your cart</p>
    {% endif %}
{% endblock %}