{% extends 'core/base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
{% if language.image %}
    <div class="image">
        <img src="{{ language.image.url }}" alt="image of {{ language.title }}">
    </div>
{% endif %}
    <h4>{{ language.title }}</h4>

    {% if language.description_field %}
        <div class="description_field">
            {{ language.description_field }}
        </div>
    {% endif %}
    
    <a href="{% url 'add_to_cart' language.id %}" class="add-to-cart">Add to Cart</a>
    
{% endblock %}