{% extends 'core/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h4>Search results for "{{ query }}"</h4>

    {% if languages %}
        <div class="category-wrapper">
            {% for language in languages %}
            <div class="category-display-size">
                <div class="category-detail">
                    <a href="{% url 'language_detail' language.category.slug language.slug %}">
                        {% if language.image %}
                            <div class="img-structure">
                                <img src="{{ language.image.url }}" alt="image of {{ language.title }}">
                            </div>
                        
                        <h4>{{ language.title }}</h4>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% else %}
    <h4>There are no languages of the sorts on here but you could add them to the list.</h4>
    {% end %}
{% endblock %}