{% extends 'core/login_index.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <a href="{% url 'new_blog' %}" class="new-blog-link">Click here to start a new blog</a>

    {% if user == request.user %}
        {% for blog in blogs %}
            {{ blog.id }}
            
            <p>{{ blog.title }}</p>
            
            <p>{{ blog.content|slice:":15" }} ...</p>

            <p><a style="color:black" href="{% url 'blog_contents' blog.id %}">Read More</a></p>

            <p><a href="{% url 'delete_blog' blog.id %}">Delete blog</a></p>

            <p><a href="{% url 'edit_blog' blog.id %}">Edit Blog</a></p>
           
        {% endfor %}
    {% endif %}
{% endblock %}