{% extends 'core/login_index.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <a href="{% url 'new_blog' %}" class="blog-link">Click here to start a new blog</a>

    {% if user == request.user %}
        {% for blog in blogs %}
            {{ blog.id }}
            <div class="blog-structure"> 
                <p>{{ blog.title }}</p>
                
                <p>{{ blog.content|slice:":15" }} ...</p>

                <p><a style="color:black" href="{% url 'blog_contents' blog.id %}" class="read-more">Read More</a></p>

                

                <p><a href="{% url 'delete_blog' blog.id %}" class="blog-link">Delete blog</a>

                <a href="{% url 'edit_blog' blog.id %}" class="blog-link">Edit Blog</a></p>
                <hr>
            </div> 
        {% endfor %}
    {% endif %}
{% endblock %}