{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Enzu">
        <title>100 days</title>
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
    </head>
    <body>
        <header>
            <div class="container">
                <h2>100DaysOf by Enzu</h2>

                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Signup</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>