{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Enzu">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | 100 Days</title>
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    </head>
    
    <body>
        <header>
            <div class="container">
                <h1>100 Days Of Code</h1>

                <nav>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'signin' %}">Sign-in</a></li>
                        <li><a href="{% url 'signup' %}">Sign-up</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'cart' %}">My Languages</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="#">My Projects</a></li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'myaccount' %}">My Account</a></li>
                        {% endif %}
                        </ul>
                </nav>
            </div>
        </header>
        
       {% block content %}
       {% endblock %}

    </body>