{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Enzu">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | 100 Days</title>
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    </head>
    
    <body>
        <header>
            <div class="container">
                <h1>100 Days Of Code</h1>

                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Signin</a></li>
                        <li><a href="#">Signup</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="beneath-header">
        
        </div>

        <div class="welcome-div">
            <h3>Welcome Brave One, choose a language to commit to down below and
                 I'll have you set up in a minute, or two if I'm being honest.</h2>

        </div>
        <div class="language-container">
            <div class="language">
                {% for language in languages %}
                    {% if language.image %}
                        <div class="image">
                            <img src="{{ language.image.url }}" alt="image of {{ language.title }}">
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        </div>

    </body>