{% extends 'core/base.html' %}

{% block title %}{{ category.title }}{% endblock title %}

{% block content %}
    <div class="header-background-image">
       <!-- This seemingly empty div needs to be left alone, as it holds the header's background-image      -->
    </div>

    <div class="welcome-div">
        <h3 class="welcome-note">Welcome Brave One, Sign in or Sign up and
            I'll have you set up in a minute, or two if I'm being honest.</h3>

    </div>


    <h4>{{category.title}}</h4>
    {% include 'languages/partials/langs.html' %}
{% endblock %}
