{% extends 'core/base.html' %}

{% block title %}{{ category.title }}{% endblock title %}

{% block content %}
    <div class="beneath-header">
            
    </div>

    <div class="welcome-div">
        <h3>Welcome Brave One, Sign in or Sign up and
            I'll have you set up in a minute, or two if I'm being honest.</h3>

    </div>



    <h4>{{category.title}}</h4>
    <div class="category-wrapper">
        {% for language in languages %}
        <div class="category-display-size">
            <div class="category-detail">
                <a href="{% url 'language_detail' language.category.slug language.slug %}">
                    {% if language.image %}
                        <div class="img-structure">
                            <img src="{{ language.image.url }}" alt="image of {{ language.title }}">
                        </div>
                    {% endif %}
                    <h4>{{ language.title }}</h4>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
