{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Enzu">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | 100 Days</title>
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    </head>
    
    <body>
        <header>
            <div class="container">
                <h1>100 Days Of Code</h1>

                <nav>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'cart' %}">Cart ({{ cart|length }})</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <div class="search">
                            <form method="get" action="/search/" class="flex items-center space-x-4 ">
                                <input type="search" name="query" placeholder="Search..." > 
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                      </svg>                                         
                                </button>
                            </form>
                        </div>
                            <li><a href="{% url 'blogs' %}">My Notes</a></li>
                            <li><a href="{% url 'my_languages' %}">My Languages</a></li> 
                            <li><a href="{% url 'myaccount' %}">My Account</a></li>
                            <li><a href="{% url 'logout' %}" class="logout">Logout</a></li>
                            </ul>
                </nav>
            </div>
        </header>
       <div class="structure-control"> 
            {% block content %}
            <div class="header-background-image">
                <!-- do not be tempted to take out this seemingly empty div, as it holds the background-image on the -->
                <!-- home page -->
            </div>
        
            <div class="welcome-div">
                <h3 class="welcome-note">Welcome Brave One, Sign in or Sign up and
                    I'll have you set up in a minute, or two if I'm being honest.</h3>
        
            </div>
        
            <!-- remove login index, use if, else statements to show what appears on index screen -->
        
        
            <h4>{{category.title}}</h4>
            {% include 'languages/partials/langs.html' %}
            <!-- This code chunk above was added to minimize excessive repetition and make the work neater -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="mt-4 px-6 py-3 bg-teal-200 text-teal-800">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </div>
    </body>